# Each line is a file pattern followed by one or more owners
# Learn more: https://docs.github.com/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owner for everything
* @stephernhurt-lgtm

# GitHub-specific files
.github/ @stephernhurt-lgtm

# Documentation
README.md CONTRIBUTING.md SECURITY.md @stephernhurt-lgtm
